doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js')
    body